.espai{
    flex: 1 1 auto;
}

a{
    text-decoration: none;
    color: white;
}

.click:hover{
    background-color: #1D213F;
    cursor: pointer;
    transition: all 0.5 ease-in-out;
    padding: 7px;
}

.menu{
    width: 50%;
    display: flex;
    list-style: none;
}
.itemMenu{
    width: 30%;
    float: left;
}
.links{
    align-items: center;
}
.links:hover{
    background-color: #1D213F;
    cursor: pointer;
    padding: 10px;
}