<div class="container">
    <form class="form item" #fromulariComanda="ngForm">
        <mat-form-field class="formElement">
            <input type="text" matInput placeholder="Nom" required [(ngModel)]="model.nom" name="nom" #nom="ngModel">
            <mat-error *ngIf="!nom.valid || nom.pristine">
                El nom és obligatori. 
            </mat-error>
        </mat-form-field> 

        <mat-radio-group class="formElement">
            <p>Escull una opció:</p>
            <mat-radio-button value="casa" (change)="entrega(true)" checked>Entrega a domicili</mat-radio-button>
            <mat-radio-button value="tenda" (change)="entrega(false)">Recollida en botiga</mat-radio-button>
        </mat-radio-group>

        <ng-container *ngIf="metodeEntrega; else seleccionarBot">
            <mat-form-field class="formElement">
                <input type="text" matInput placeholder="Direcció" [(ngModel)]="model.adress" name="adress" #adress="ngModel">
            </mat-form-field> 
    
            <mat-form-field class="formElement">
                <input type="text" matInput placeholder="Ciutat" [(ngModel)]="model.ciutat" name="ciutat" #ciutat="ngModel">
            </mat-form-field> 
        </ng-container>
       
        <ng-template #seleccionarBot>
            <mat-form-field class="formElement">
                <mat-label>Seleciona una botiga:</mat-label>
                <mat-select [(ngModel)]="model.botiga" name="botiga" #botiga="ngModel">
                    <mat-option [value]="botiga" *ngFor="let botiga of tendas">
                        {{botiga.name}} - {{botiga.openingHours}}
                    </mat-option>
                </mat-select>
            </mat-form-field> 
        </ng-template>
    </form>
</div>
<app-comanda></app-comanda>
<div class="containerButtom">
    <button [disabled]="!fromulariComanda.form.valid" mat-raised-button color="primary" type="submit" (click)="enviarForm(fromulariComanda)">
        Comprar
    </button>
</div>