<div class="container">
    <table class="taula">
        <thead>
            <tr>
                <th>Producte</th>
                <th>Quantitat</th>
                <th>Preu/u</th>
                <th>Preu total:</th>
            </tr>
        </thead>
        <tbody>
           <tr *ngFor="let producte of productes$ | async">
                <td>{{producte.name}}</td>
                <td>{{producte.qty}}</td>
                <td>{{producte.price | currency}}</td>
                <td>{{producte.qty * producte.price | currency}}</td>
           </tr> 
        </tbody>
    </table>

    <div class="containerTotal">
        <p class="total">
            <b>Total: <span>{{total$ | async | currency}}</span></b>
        </p>
    </div>
</div>
